*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #909095;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}


.pagination{ margin-bottom: 20px; }


.top{
    font-size: 23pt;
    font-weight: 900;
    background-color: #4f3558;
    padding: 10px;
    margin-bottom: 20px;
    height: 24pt;
    color: #f1f1f1;;
}
.top a{ text-decoration: none; }
.top a:visited{ color: #f1f1f1; }
.top a:hover{ color: cornflowerblue; }
.top a:active{ color: cornflowerblue; }

.top_block{
    float: left;
    margin-left: 1%;
    margin-right: 3%;
}



.content{ 
    font-size: 14pt; 
    margin: 10px 15% 20px 15%;
}


.post_box, .message_box{
    border: 0px solid white;
    background-color: white;
    margin-bottom: 12px;
}

.post_box{
    border-radius: 10px;
    padding: 15px 15px 25px 15px;
}


.messages_list{
    margin-top: 30px;
    margin-bottom: 50px;
}
.message_box{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
}
.message{ padding: 10px 10px 25px 10px; }
.quote_box{
    background-color: #e9e7e9;
    font-style: italic;
    padding: 3px;
    margin: 2px 20px 8px 0;
    border-left: 4px solid #328284;
    border-bottom-right-radius: 10px;
}


.info_header{
    background-color: #05a58d;
    padding: 5px;
    color: white;
}

.rating_box{
    float: left;
    color: lightgray;
    margin-right: 20px;
    height: 100%;
}
.rating_box a{ text-decoration: none; }
.rating_box a:visited{ color: lightgray; }
.rating_box a:hover{ color: white; }
.rating_box a:active{ color: white; }


.input_form, .title_form{
    padding: 10px;
    font-size: 14pt;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}
.input_form{ min-height: 56pt; }
.submit_btn{
    padding: 3px 10px 2px 10px;
    font-size: 14pt;
    margin: 5px 10px 10px 10px;
}
