<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}"/>
    <script type="text/javascript" src="{% static "scripts.js" %}"></script>
</head>
<body>
    <div class="top">
        <div class="top_block"><a href="{% url 'forum:index' %}" }>Forum</a></div>
        <div class="top_block"><a href="{% url 'forum:new_post' %}">Add new post</a></div>
        <div class="top_block"><a href="{% url 'forum:post_details' post.get_next %}">Next post</a></div>
        <div class="top_block"><a href="{% url 'forum:post_details' post.get_prev %}">Previous post</a></div>
        <div class="top_block">{{ user }}{% if user.is_superuser %}(admin){% endif %}</div>
    </div>
    <div class="content">
        <div class="post_box">
            <div class="info_header">
                <div class="rating_box">
                    <a href="{% url 'forum:post_vote_up' post.id %}">&#9650;</a>
                    {{ post.rating }}
                    <a href="{% url 'forum:post_vote_down' post.id %}">&#9660;</a>
                </div>
                {{ post.get_author }}
                {% if user.is_superuser or user.authorized and msg.author == user %}
                    &#x2007|&#x2007 <a href="{% url 'forum:post_delete' post.id %}">delete</a>
                {% endif %}
            </div>
            <h1>{{ post.title }}</h1>
            <p>{{ post.text }}</p>
        </div>

        <div class="message_box">
            {% if user.is_superuser or user.authorized %}
                <div class="info_header" onclick="toggle(this, 'new_msg')">Hide</div>
                <form action="" method="post" id="new_msg">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Send" class="submit_btn"/>
                    <label>Will be signed by {{ user }}</label>
                    <a id="reply_label" onclick="clear_reply_id('new_msg')"></a>
                </form>
            {% else %}
                <div class="info_header">Log in to leave comments</div>
            {% endif %}
        </div>

        <div class="messages_list">
            {% for msg in messages %}
            <div class="message_box" id="msg_{{ msg.id }}">
                <div class="info_header">
                    <div class="rating_box">
                        <a href="{% url 'forum:msg_vote_up' msg.id %}">&#9650;</a>
                        {{ msg.rating }}
                        <a href="{% url 'forum:msg_vote_down' msg.id %}">&#9660;</a>
                    </div>
                    {{ msg.get_author }}
                    {% if msg.root_message is not None %} replies to {{ msg.root_message.get_author }} {% endif %}
                    &#x2007|&#x2007 <a onclick="fill_reply_id('reply_id_field', {{ msg.id }})">reply</a>
                    {% if user.is_superuser or user.authorized and msg.author == user %}
                        &#x2007|&#x2007 <a href="{% url 'forum:msg_delete' msg.id %}">delete</a>
                    {% endif %}
                </div>
                <div class="message">{{ msg.text }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>